<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message Board</title>
    <style>
        .container{
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/message" method="POST">
            <h1>The Dojo Message Board</h1>
            <label>Name:</label><br>
            <input type="text" name="mName"/><br>
            <label>Message:</label><br>
            <input type="text" name="message_content"/>
            <input type="submit" value="Post Message">
        </form>
        <% for (let message of allmessages){ %>
            <h2>Name: <%=message.mName %></h2>
            <h4>Topic: <%=message.message_content%></h4>
                <% for (let comment of message.comments){ %>
                    <p>Name: <%=comment.cName %></p>
                    <p>Comment: <%=comment.comment %></p>
                    <%}%>

            <form action="/comment/<%=message._id%>" method="POST">
                Name: <input type="text" name="cName"><br>
                Comment: <input type="text" name="comment">
                <input type="submit" value="Post comment">
            </form>
        <%} %>    
    </div>
</body>
</html>